.cards {
    width: 17%;
    background-color: #CB8677;
    padding-bottom: 30px;
    display: inline-block;
}

img{
    width: 100%;
}

.text{
    padding-top: 20px;
    text-align: center;
}

.price {
    padding-top: 10px;
}